 * {
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
 }

 body {
     height: 100vh;
     width: 100%;
     display: grid;
     place-content: center;
     background: url(./images/backgroundImg.jpg), #fff;
     background-size: cover;
     background-repeat: no-repeat;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 /* calculator container */

 #calculator-container {
     width: clamp(18.75rem, 14.286rem + 11.905vw, 23.125rem);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     row-gap: 1rem;
     padding: 20px 5px;
     background: transparent;
     backdrop-filter: blur(10px);
     border-radius: 20px;
 }
 #calculator-container h1{
    color: #fff;
    text-shadow: 0.5px 0.5px 0.2px #000;
 }
 .row1,
 .row2,
 .row3,
 .row4,
 .row5 {
     display: flex;
     flex-shrink: 0;
     gap: 1rem;
 }

 /* display */

 .display {
     font-size: 2rem;
     text-align: right;
     height: 50px;
     width: 90%;
     border: 1px solid black;
     border-radius: 15px;
     background-color: aliceblue;
     margin-inline: auto;
 }

 /* box-stylling */
 .box {
     flex-shrink: 0;
     font-size: 1.5rem;
     font-weight: 600;
     height: 50px;
     width: 60px;
     border-radius: 5px;
    display: grid;
    place-content: center;
     outline: none;
     border: none;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 }

 /* Numbers and Operators  */

 .number {
     background-color: whitesmoke;
 }

 .oprator {
     background: hsl(207, 19%, 61%);
 }


 .equal {
     background: hsl(355, 78%, 56%);
 }

 .box:hover{
    opacity: 0.7;
 }